.main{
        padding: 10rem 0;
        width: auto;
        height: 70vh;
        background-position: center;
        background-size: cover;
        background-image: url(../Images/twenty-mobile.jpg);
        text-align: center;
}

.pic-adjust{
        width: auto;
        height: 20rem;
        padding: 0 2rem;
}
